@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "actionMan";
    src: url('action_man_extended.otf');
  }

html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #019541;
  }
  
  canvas {
    display: block;
    margin:auto;
    padding-top: 10%;
  }

  h1 {
    color: #FDE200;
    font-family: "actionMan";
    font-size: 8rem;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    -webkit-text-stroke: 1pt;
    -webkit-text-stroke-color: black;
  }
  p {
    font-family: "Alata";
    font-size: 50pt;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    position: fixed;
    padding-left: 15%;
    padding-right: 15%;
  }

  .lamp {
    position: fixed;
    bottom: 2%;
    left: 4%
  }

  .lamp:hover{
    opacity: 70%;
  }
  
  a{
    text-decoration: none;
    color: #FDE200;
    -webkit-text-stroke: 2%;
    -webkit-text-stroke-color: black;
  }
  a:hover {
    color: #0491C6;
  }

