@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "actionMan";
    src: url('Action_Man_Extended.otf');
  }

html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #019541;
  }
  
  canvas {
    display: block;
    margin:auto;
    padding-top: 10%;
  }
  h1 {
    font-family: "Alata";
    font-size: 40pt;
    margin: auto;
    text-align: center;
    margin-top: 10%;
  }

  p {
    font-family: "Alata";
    color: black;
    font-size: 16pt;
    position: fixed;
    right: 5%;
    bottom: 2%;
  }

  .lamp {
    position: fixed;
    bottom: 2%;
    left: 4%
  }

  .lamp:hover{
    opacity: 70%;
  }

  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #FDE200;
  }