@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: "actionMan";
  src: url(action_man_extended.ttf);
}

html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("home.png");
  }
  
  canvas {
    display: block;
    margin:auto;
    margin-top: 5%;
  }
  h1 {
    font-family: "actionMan";
    font-size: 8rem;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    -webkit-text-stroke: 1pt;
    -webkit-text-stroke-color: black;
  }
  
  p {
    font-family: "Alata";
    font-size: 40pt;
    position: fixed;
    bottom: 10%;
    left: 4%
  }

  .lamp {
    position: fixed;
    bottom: 2%;
    left: 4%
  }

  a{
    text-decoration: none;
    color: #FDE200;
    -webkit-text-stroke: 2%;
    -webkit-text-stroke-color: black;
  }
  a:hover {
    color: #019541;
  }

  .tab {
    display: inline-block;
    margin-left: 30%;
}


